:root {
    --cart-width: max(20vw, 400px);
}

.cart {
    position: fixed;

    right: 0px;
    top: 0px;

    width: var(--cart-width);
    height: 100vh;
    background-color: var(--main);

    box-shadow: 0px 0px 10px 10px var(--accent);
}

.cart__container {
    width: 100%;
    padding: 30px 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 10px;
}

.cart__sectionTitle { 
    font-size: 3rem;
}

.cart__container ul {
    width: 100%;
    height: 73vh;
    overflow: scroll;

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart__hr {
    width: 80%;
}
.cart__totalPrice {
    display: flex;
    gap: 10px;
    align-items: center;
}