:root {
    --cart-width: max(20vw, 400px);
}

.cart {
    position: fixed;

    right: 0px;
    top: 0px;

    width: var(--cart-width);
    transform: translateX(var(--cart-width));
    height: 100vh;
    background-color: var(--main);
    box-shadow: 0px 0px 10px 10px var(--accent);

    opacity: 0;
    transition: opacity 0.3s ease-in,
        transform 0.3s linear;

}

    .cart-transition {
        width: var(--cart-width);
        transform: translateX(0);
        opacity: 1;

    }

.cart__container {
    width: 100%;
    padding: 30px 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 10px;
}

.cart__sectionTitle { 
    font-size: 3rem;
}

.cart__container ul {
    width: 100%;
    height: 73vh;
    overflow: auto;

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart__hr {
    width: 80%;
}
.cart__totalPrice {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media (max-width: 767px) {
    .cart {
        bottom: 0px;
        transition: all 0.3s linear;
    }

    .cart-transition {
        width: 100vw;
        transition: all 0.3s linear;
    }

    .cart__container {
        width: 100%;
        padding: 0px 0px;
    
        display: flex;
        flex-direction: column;
    
        align-items: center;
        justify-content: center;
    
        gap: 10px;
    }
}

@media (max-height: 767px) {
    .cart {
        position: fixed;

        transition: all 0.3s linear;
    }

    .cart-transition {
        width: 100vw;
        transition: all 0.3s linear;
    }

    .cart__container {

        width: 100%;
        padding: 30px 20px;
    
        display: grid;
        grid-template-columns: 4fr 2fr 1fr 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas:
        "title price buy close"
        "products products products products";
    
        gap: 0px;
    }

    .cart__sectionTitle { 
        grid-area: title;
    }

    .cart__totalPrice {
        grid-area: price;
    }

    .cart__buyDiv {
        grid-area: buy;
    }

    .cart__closeDiv {
        grid-area: close;
    }

    .cart__container ul {
        grid-area: products;
    }
    .cart__hr {
        display: none;
    }

    .cart__container ul {
        width: 100%;
        overflow: auto;
    
        list-style: none;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        gap: 10px;
    }
}