.homePage {
    min-height: 88vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.homePage__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

    .homePage__title {
        font-size: 8rem;
        text-shadow: 4px 4px 2px hsl(220, 13%, 10%), 0px 0px 0.1em var(--letter2);
    }

    .homePage__imgDiv {        
        width: 700px;
        height: 350px;
        box-shadow: 0px 0px 4px 4px hsl(220, 13%, 10%);

        border-radius: 20px;

        margin: 0px 0px 20px 0px;
    }

    .homePage__img {
        width: 700px;
        height: 350px;
        border-radius: 20px;
    }

/*mobile*/
@media (min-width: 481px) and (max-width: 767px) {
    .homePage__img {
        width: 500px;
        height: 350px;
    }

    .homePage__imgDiv {        
        width: 500px;
        height: 350px;
    }

    body.cart-open {
        overflow: hidden;
    }
}
  
/*mobile*/
@media (max-width: 480px) {
    .homePage__img {
        width: 400px;
        height: 240px;
    }

    .homePage__imgDiv {        
        width: 400px;
        height: 240px;
    }

    body.cart-open {
        overflow: hidden;
    }
}

/*Tablet*/
@media (max-width: 1024px) {
    .homePage {
        min-height: 95vh;
    }

    .homePage__title {
        font-size: 6rem;
        text-shadow: 4px 4px 2px hsl(220, 13%, 10%), 0px 0px 0.1em var(--letter2);
    }
}

/* Mobile wide*/
@media (max-height: 767px) {
    body.cart-open {
        overflow: hidden;
    }
}