.cart__product-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
}

.cart__imageDiv{
    height: 100px;

    overflow: hidden;

    display: flex;
    align-items: center;

    border-radius: 10px;
}

    .cart__imageDiv:hover{
        background-color: var(--accent);
    }

    .cart__imageDiv-active{
        overflow:visible;
        height: auto;
    }

.cart__image {
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.cartCard__price {
    font: 1rem;
}