.cartCard__li {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .cartCard__li:hover {
        background:rgba(0,0,0,0.6);
        border-radius: 10px;
    }

.cart__imageDiv{
    max-height: 100px;

    overflow: hidden;

    display: flex;
    align-items: center;

    border-radius: 10px;

    transition: max-height 0.1s ease-in;
}

    .cart__imageDiv-active{
        max-height: 600px;
    }

.cart__image {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.cartCard__title {
    padding: 0px 10px;
}

.cartCard__price {
    font-size: 2rem;
    color: var(--letter)
}

.cartCard__quantityDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
}