.cartCard__li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

    .cartCard__li:hover {
        background:rgba(0,0,0,0.6);
        border-radius: 10px;
    }

.cart__imageDiv{
    height: 100px;

    overflow: hidden;

    display: flex;
    align-items: center;

    border-radius: 10px;
}

    .cart__imageDiv-active{
        overflow:visible;
        height: auto;
    }

.cart__image {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.cartCard__price {
    font-size: 2rem;
    color: var(--letter)
}

.cartCard__quantityDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
}

.cartCard__quantityButton {
    width: 40px;
    height: 40px;

    background-color: var(--main);
    color: var(--letter);

    border: 1px solid var(--base);
    border-radius: 20%;

    cursor: pointer;

}

    .cartCard__quantityButton:hover {
        background-color: rgba(0,0,0,0.6);
    }

    .cartCard__quantityButton:active {
        background-color: rgba(0,0,0,1);
    }