.cart {
    position: fixed;

    right: 0px;
    top: 0px;

    width: max(20vw, 300px);
    height: 100vh;
    background-color: var(--main);

    box-shadow: 0px 0px 10px 10px var(--accent);
}

.cart__container {
    width: 100%;
    padding: 30px 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 30px;
}

.cart__sectionTitle { 
    font-size: 3rem;
}

.cart__container ul {
    width: 100%;
    height: 75vh;
    overflow: scroll;

    list-style: none;

}

    .cart__product-li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;

        padding-bottom: 20px;
    }

        .cart__image-div{
            height: 100px;

            overflow: hidden;

            display: flex;
            align-items: center;

            border-radius: 10px;
        }

            .cart__image-div:hover{
                overflow:visible;
                height: auto;
            }

            .cart__image {
                background-color: white;
                width: 100%;
                border-radius: 10px;
            }

/* .cart__closeButton {
    background-color: var(--main);
    color: var(--letter)
} */